.active{
    background-color: #1ABC9C;
    padding: 5px;
    border-radius: 5%;
    
}
.main-clr{
    background-color: #2C3E50;
}
.sec-clr{
    background-color: #19212c;
}
i{
    color: #ffff;
}
.clr{
    background-color: #1ABC9C;
}
.main-txt{
    color: #2C3E50;
}
.wp{
    width: 100px;
}
